@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  padding: 10%;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

a {
    color: hsl(207, 44%, 50%);
}

a:visited {
    color: purple;
}

a:hover, a:focus {
    color: hsl(261, 44%, 47%, 0.7); /*opacity 0.7*/ 
    /* opacity: 0.7; */ /*another to set opacity*/
    background: gold;
}

a:active {
    color: red;
}





